@charset "UTF-8";
/* line 5, ../../../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*字體*/
/*font awesome*/
/* line 5, ../sass/_extend.scss */
#about-link:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*首內頁共用設定*/
/* line 10, ../sass/module/_layout.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 16, ../sass/module/_layout.scss */
a {
  text-decoration: none;
}

/* line 20, ../sass/module/_layout.scss */
img {
  max-width: 100%;
  height: auto;
  border: none;
}

/* line 26, ../sass/module/_layout.scss */
div {
  word-wrap: break-word;
  word-break: break-all;
}

/* line 37, ../sass/module/_layout.scss */
body {
  font: 100%/1.5 "微軟正黑體", sans-serif;
  background: #f9f9f9;
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  width: 100%;
}

/* line 46, ../sass/module/_layout.scss */
#profile {
  z-index: 0;
  position: relative;
  height: auto;
  width: auto;
  background: none;
  left: auto;
  top: auto;
}
@media (min-width: 1024px) {
  /* line 46, ../sass/module/_layout.scss */
  #profile {
    width: 300px;
    background: #ffffff;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
  }
}

/* line 64, ../sass/module/_layout.scss */
#logo {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  margin: 30px 0 20px 0;
}
/* line 68, ../sass/module/_layout.scss */
#logo img {
  height: 60px !important;
}

/* line 73, ../sass/module/_layout.scss */
body.ps-active {
  -moz-transform: translateX(300px);
  -o-transform: translateX(300px);
  -ms-transform: translateX(300px);
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
}
@media (min-width: 1024px) {
  /* line 73, ../sass/module/_layout.scss */
  body.ps-active {
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

/* line 80, ../sass/module/_layout.scss */
#about-link {
  display: block;
  float: left;
  position: relative;
  z-index: 0;
  width: 100%;
  text-align: left;
  background: #1a1a1a;
  color: #fff;
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 15px;
  padding: 5px 10px;
  line-height: normal;
}
/* line 93, ../sass/module/_layout.scss */
#about-link:before {
  content: "\f038";
  font-size: 12px;
  margin: 0 6px 0 0;
}
@media (min-width: 1024px) {
  /* line 80, ../sass/module/_layout.scss */
  #about-link {
    display: none;
  }
}

/* line 105, ../sass/module/_layout.scss */
#about .about-img {
  text-align: center;
  line-height: 0;
}
/* line 108, ../sass/module/_layout.scss */
#about .about-img img {
  height: 120px !important;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 113, ../sass/module/_layout.scss */
#about .about-info {
  padding: 0 25px;
  font-size: 14px;
  line-height: 20px;
  color: #3f3f3f;
  letter-spacing: 0.25px;
}
/* line 119, ../sass/module/_layout.scss */
#about .about-info h2 {
  text-align: center;
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 24px;
  color: #1a1a1a;
  padding: 20px 0 15px 0;
}
/* line 127, ../sass/module/_layout.scss */
#about .about-txt {
  margin: 0 0 25px 0;
  word-break: break-word;
}
/* line 130, ../sass/module/_layout.scss */
#about .about-txt p {
  margin: 0 0 10px 0;
}
/* line 135, ../sass/module/_layout.scss */
#about .contact li {
  margin: 0 0 10px 0;
}
/* line 138, ../sass/module/_layout.scss */
#about .contact em {
  display: block;
  text-decoration: underline;
}
/* line 143, ../sass/module/_layout.scss */
#about .foot-copy {
  color: #a0a0a0;
  font-family: 'Mukta Mahee', sans-serif;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  font-size: 13px;
}

/* line 155, ../sass/module/_layout.scss */
.panel {
  width: 300px;
  background: #ffffff;
  padding: 20px 0 0 0;
  display: none;
}
@media (min-width: 1024px) {
  /* line 155, ../sass/module/_layout.scss */
  .panel {
    width: 100%;
    background: none;
    position: relative !important;
    left: auto !important;
    top: auto;
    padding: 0;
    display: block !important;
    height: 100%;
  }
}

/* line 172, ../sass/module/_layout.scss */
#works {
  top: 0;
  z-index: 0;
  position: relative;
  padding-left: 0;
  clear: both;
}
@media (min-width: 1024px) {
  /* line 172, ../sass/module/_layout.scss */
  #works {
    margin-left: 300px;
    clear: none;
    z-index: 0;
  }
}
/* line 183, ../sass/module/_layout.scss */
#works .works-title {
  text-align: center;
  color: #1a1a1a;
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 18px;
  padding: 0 0 20px 0;
}
@media (min-width: 1024px) {
  /* line 183, ../sass/module/_layout.scss */
  #works .works-title {
    padding: 40px 0 20px 0;
  }
}
/* line 192, ../sass/module/_layout.scss */
#works .works-title:before {
  content: '';
  display: inline-block;
  border-bottom: #1a1a1a solid 1px;
  width: 15px;
  margin: 0 2px 0 0;
}

/* line 203, ../sass/module/_layout.scss */
.img-wrap img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
/* line 205, ../sass/module/_layout.scss */
.img-wrap img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}
