//banner
.section-banner {
    position: relative;
    width: 100%;
    height: 100vh;
    float: left;
    clear: both;

    .background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .left-bg {
            position: absolute;
            left: 0;
            top: 0;
            width: 0%;
            height: 100%;
            background: #fff;

            @include _break("large") {
                width: 33%;
            }
        }

        .right-bg {
            width: 100%;
            height: 100%;
            float: left;
            padding-left: 0%;

            @include _break("large") {
                padding-left: 33%;
            }

            .img-wrap {
                width: 100%;
                height: 100%;
                position: relative;
                overflow: hidden;

                .images {
                    position: absolute;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                }

                .particles-wrap {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 10;

                    #particles-js {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        z-index: 2;
                    }
                }
            }
        }
    }

    .slogan {
        position: relative;
        z-index: 11;
        width: 100%;
        height: 100%;
        padding: 54px 0 0 0;

        @include _break("large") {
            padding: 0;
        }

        .container {
            height: 100%;

            #typed {
                white-space: break-spaces;

                @include _break("small") {
                    white-space: pre;
                }
            }

            .text {
                opacity: 1;
                position: absolute;
                top: 50%;
                @include transform(translateY(-50%));
                line-height: normal;

                h3 {
                    margin: 0;
                }

                h3,
                .type-wrap {
                    font-size: 40px;
                    font-weight: 900;
                    color: #00d4bd;

                    @include _break("med") {
                        font-size: 60px;
                    }

                    @include _break("large") {
                        font-size: 76px;
                    }
                }

                h3 {
                    color: transparent;
                    -webkit-text-stroke: 1px #00d4bd;
                    margin: 0 0 15px 0;

                    @include _break("small") {
                        margin: 0;
                    }
                }

                .type-wrap {
                    line-height: 1;

                    @include _break("small") {
                        line-height: inherit;
                    }
                }
            }
        }
    }
}

//index about
.section-about {
    position: relative;
    width: 100%;
    height: auto;
    float: left;
    clear: both;
    padding: 80px 0;

    @include _break("large") {
        padding: 160px 0;
    }

    .about-inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .about-img {
            width: 100%;
            max-width: 400px;
            margin: 0 auto 25px auto;

            @include _break("large") {
                width: 50%;
                max-width: none;
                margin: 0;
            }

            @include _break("extra_large") {
                width: 40%;
            }

            img {
                min-width: 10%;
                @include border-radius(5px);
                @include transform(translate3d(0px, -66px, 0px));
                @include transition(transform 3s cubic-bezier(0, 0, 0, 1) 0s);
            }
        }

        .about-img.in-view {
            img {
                @include transform(translate3d(0px, 0px, 0px));
            }
        }

        .about-info {
            width: 100%;

            @include _break("large") {
                width: 50%;
                padding: 0 0 0 50px;
            }

            @include _break("extra_large") {
                width: 60%;
                padding: 0 0 0 100px;
            }

            .name {
                border-bottom: rgba(20, 20, 20, 0.2) solid 1px;
                padding: 0 0 20px 0;
                margin: 0 0 25px 0;

                h3 {
                    margin: 0;
                    color: #00d4bd;
                    font-size: 30px;
                    position: relative;

                    .bg {
                        position: absolute;
                        top: 0;
                        left: 0;
                        color: transparent;
                        -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
                        font-size: 125px;
                        line-height: 0;
                        z-index: -1;
                        display: none;

                        @include _break("large") {
                            display: block;
                        }
                    }
                }

                h4 {
                    margin: 0;
                    font-size: 18px;
                    font-weight: 400;
                    padding: 5px 0 0 0;
                }
            }

            .text {
                margin: 0 0 30px 0;

                p {
                    margin: 0 0 15px 0;
                }
            }

            .skill {
                h4 {
                    margin: 0 0 10px 0;
                    font-weight: 600;
                    font-size: 18px;
                }

                .skill-progress {
                    .skill-item {
                        margin: 0 0 15px 0;

                        .skill-text {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin: 0 0 5px 0;

                            h6 {
                                margin: 0;
                                font-size: 1rem;
                                font-weight: 400;
                            }
                        }

                        .line-progressbar {
                            width: 100%;
                            height: 5px;
                            background: #dddddd;
                        }

                        .progressbar {
                            height: 5px;
                            background: #a0a0a0;
                            @include transition(width 2s ease-out);
                        }
                    }
                }
            }
        }
    }
}

//index portfolio
.section-portfolio {
    position: relative;
    width: 100%;
    height: auto;
    float: left;
    clear: both;
    padding: 80px 0;
    background: #f8f9fa;

    @include _break("large") {
        padding: 140px 0;
    }

    .portfolio-inner {
        .title {
            @include _break("large") {
                margin: 0 0 55px 0;
            }

            h3 {
                margin: 0;
                color: #141414;
                font-size: 30px;
                position: relative;

                .bg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: transparent;
                    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
                    font-size: 125px;
                    line-height: 0;
                    z-index: -1;
                    display: none;

                    @include _break("large") {
                        display: block;
                    }
                }
            }
        }
    }
}

//index contact
.section-contact {
    position: relative;
    width: 100%;
    height: auto;
    float: left;
    clear: both;
    padding: 80px 0;

    @include _break("large") {
        padding: 140px 0;
    }

    .contact-inner {
        .title {
            margin: 0 0 15px 0;

            @include _break("small") {
                margin: 0 0 30px 0;
            }

            @include _break("large") {
                margin: 0 0 55px 0;
            }

            h3 {
                margin: 0;
                color: #141414;
                font-size: 30px;
                position: relative;

                .bg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: transparent;
                    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
                    font-size: 125px;
                    line-height: 0;
                    z-index: -1;
                    display: none;

                    @include _break("large") {
                        display: block;
                    }
                }
            }
        }

        .contact-form {
            @include transform(translate3d(0px, 200px, 0px));
            @include transition(transform 1s cubic-bezier(0, 0, 0, 1) 0s);

            .form-row {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin: 0 -15px;
            }

            .form-group {
                margin: 0 0 15px 0;
                line-height: 0;

                @include _break("small") {
                    margin: 0 0 25px 0;
                }
            }

            .form-control {
                border: #dddddd solid 1px;
                @include border-radius(5px);
                width: 100%;
                padding: 8px 15px;
                color: #888;
                font-family: "Noto Sans TC", "Montserrat", sans-serif;
            }

            input {
                height: 42px;
            }

            input,
            textarea,
            button {
                outline: none;
                resize: none;
            }

            .form-btn {
                button {
                    display: inline-block;
                    background: #141414;
                    @include border-radius(50px);
                    border: none;
                    color: #fff;
                    font-size: 15px;
                    font-weight: 600;
                    padding: 15px 70px;
                    cursor: pointer;
                }
            }
        }

        .contact-form.in-view {
            @include transform(translate3d(0px, 0px, 0px));
        }
    }
}