//如改平板選單不收起來修改斷點wide為large，並調整template.js
//主選單
a.bars-close {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000000;
    @include opacity(0.3);
    z-index: 10;
    top: 0;
    right: 0;

    @include _break("large") {
        display: none;
    }
}

#navbar-top {
    background: #666666;
    width: 100%;
    position: fixed;
    z-index: 1000;
    height: 60px;
    top: 0;

    @include _break("large") {
        display: none;
    }
}

#pageslide {
    //jq產生包覆rwd_nav
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 99999;
    width: 260px;
    padding: 20px 0;

    @include _break("large") {
        display: none !important
    }
}

#rwd-nav {
    width: 22px;
    margin: 0;
    padding-top: 0;
    position: absolute;
    left: 15px;
    top: 17px;

    .ico {
        width: 100%;
        height: 22px;
        position: relative;
        padding-top: 11px;

        span {
            width: 100%;
            height: 2px;
            position: absolute;
            background: #ffffff;
            display: block;
            transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;

            &:before,
            &:after {
                content: "";
                left: 0;
                top: -9px;
                width: 100%;
                height: 2px;
                position: absolute;
                background: #ffffff;
                display: block;
                transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
            }

            &:after {
                top: 9px;
            }
        }
    }

    @include _break("large") {
        display: none;
    }
}

.active {
    .ico {
        span {
            background: transparent !important;

            &:before {
                top: 0 !important;
                height: 2px;
                @include transform(rotate(45deg));
            }

            &:after {
                top: 0 !important;
                height: 2px;
                @include transform(rotate(-45deg));
            }
        }
    }
}

#m-nav {
    width: 60%; //行動滑開的寬度 
    display: none;
    position: fixed;
    top: 60px;
    height: 100%;
    background: #ffffff;
    z-index: 9999;
    overflow-y: auto; //滾軸 

    @include _break("large") {
        position: relative;
        float: left;
        margin: 0 0 0 40px;
        width: auto;
        display: block;
        height: auto;
        top: auto;
        background: none;
        overflow: visible; //滾軸
        overflow-y: initial; //取消滾軸
        @include box-shadow(none);
        z-index: 0;
    }

    //滾軸美化
    &::-webkit-scrollbar-track {
        background-color: #eeeeee;
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: none;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

#menu {
    @include container;
    position: relative;
    height: 100%;
    z-index: 100;
    width: 100%;
    background: #ffffff;

    @include _break("large") {
        background: transparent;
    }

    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul.menu {
        display: inline-block;
        float: left;
        width: 100%;

        li {
            list-style: none;
            position: relative;
            float: left;
            width: 100%;
            border-bottom: #eee solid 1px;

            @include _break("large") {
                display: inline-block;
                float: none;
                width: auto;
                border-bottom: none;
            }

            a {
                display: block;
                font-size: 18px;
                color: #4c4c4c;
                position: relative;
                padding: 10px;
                text-align: center;

                @include _break("large") {
                    padding: 20px 10px;
                    text-align: left;
                    color: #ffffff;
                }

                &:after {
                    content: '';
                    display: none;
                    background: #c40000;
                    height: 3px;
                    position: absolute;
                    bottom: 0;
                    width: 0%;
                    left: 0;
                    @include transition(all 0.2s linear);

                    @include _break("large") {
                        display: block;
                    }
                }
            }

            ul {
                background: #f1f1f1;
                margin: 0;
                text-align: center;
                padding: 10px 0;
                display: none;
                float: left;
                width: 100%;

                @include _break("large") {
                    float: none;
                    width: auto;
                    background: #666666;
                    position: absolute;
                    display: block;
                    left: 0;
                    top: 75px;
                    min-width: 130px;
                    overflow: hidden;
                    z-index: -1;
                    @include transition(all 0.3s linear);
                    @include transform(translate3d(0px, -10px, 0px));
                    @include opacity(0);
                }

                li {
                    display: block;
                    margin: 0;
                    border-bottom: none;
                }

                a {
                    font-size: 17px;
                    padding: 0;
                    text-align: center;

                    &:after {
                        display: none;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            &:hover {
                a {
                    &:after {
                        width: 100%;
                    }
                }

                ul {
                    z-index: 1;

                    @include _break("large") {
                        display: block;
                        @include transform(translate3d(0px, 0px, 0px));
                        @include opacity(1);
                        overflow: visible;
                    }
                }
            }
        }
    }
}