//page portfolio
.page-portfolio {
    background: #fff;
    padding: 120px 0 60px 0;

    @include _break("small") {
        padding: 145px 0 60px 0;
    }

    @include _break("large") {
        padding: 250px 0 140px;
    }

    .portfolio-inner {
        .portfolio-heading {
            @include _break("large") {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 0 50px 0;
            }

            .title {
                margin: 0;
            }

            .portfolio-filter {
                display: flex;
                align-items: center;

                ul {
                    margin: 0;
                    padding: 30px 0 0 0;
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    @include _break("small") {
                        padding: 40px 0 0 0;
                    }

                    @include _break("large") {
                        padding: 0 15px 0 0;
                    }

                    li {
                        margin: 0 40px 0 0;
                        line-height: 1.6;
                        @include opacity(1);
                        visibility: visible;
                        left: 0;
                        position: relative;
                        @include transition(all .2s ease);

                        @include _break("large") {
                            @include opacity(0);
                            visibility: hidden;
                            left: 10px;
                            line-height: normal;
                        }

                        a {
                            color: #141414;
                            text-decoration: none;
                            position: relative;
                            overflow: hidden;
                            display: inline-block;
                            font-weight: 600;

                            .first {
                                position: absolute;
                                @include transform(translateY(100%));
                                @include transition(all .3s ease);
                            }

                            .second {
                                position: relative;
                                display: block;
                                @include transition(all .3s ease);
                            }

                            &:hover {
                                .first {
                                    @include transform(translateY(0));
                                    color: #00d4bd;
                                }

                                .second {
                                    @include transform(translateY(-100%));
                                }
                            }
                        }

                        a.current {
                            .second {
                                color: #00d4bd;
                            }
                        }
                    }

                    li.opened {
                        @include opacity(1);
                        visibility: visible;
                        left: 0;
                    }
                }

                .portfolio-menubar {
                    width: 30px;
                    height: 17px;
                    position: relative;
                    display: none;

                    @include _break("large") {
                        display: block;
                    }

                    a {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        z-index: 1;

                        .trigger {
                            position: absolute;
                            width: 30px;
                            height: 3px;
                            background-color: #000;
                            top: 50%;
                            @include transform(translateY(-50%));

                            &:before,
                            &:after {
                                content: "";
                                position: absolute;
                                width: 15px;
                                height: 3px;
                                background: #141414;
                                @include transition(all .3s ease);
                            }

                            &:before {
                                left: 0;
                                top: -7px;
                            }

                            &:after {
                                right: 0;
                                bottom: -7px;
                            }
                        }

                        &:hover {
                            .trigger {
                                &:before {
                                    left: 14px;
                                }

                                &:after {
                                    right: 14px;
                                }
                            }
                        }
                    }

                    a.opened {
                        .trigger {
                            &:before {
                                left: 14px;
                            }

                            &:after {
                                right: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}